{{> header title="Página de inicio"}}

<main class="container-fluid p-4">
    <h1>
        {{titulo}}
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam labore quia facere dolorum eveniet error
        fugiat in
        provident dignissimos, porro aliquam molestias quos hic. Minus aspernatur accusantium assumenda facere qui
        corrupti,
        perferendis debitis. Quidem exercitationem veritatis temporibus ea! Perspiciatis error doloremque velit maxime
        voluptatibus. Saepe nobis aliquid voluptatibus. Repellendus, veritatis.</p>
</main>


{{> footer year=2023}}