<div>Footer: {{year}}</div>

<!--   Core JS Files   -->
<script src="js/core/jquery.min.js" type="text/javascript"></script>
<script src="js/core/popper.min.js" type="text/javascript"></script>
<script src="js/plugins/moment.min.js"></script>


<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/js/material-kit.js" type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>
</body>
</body>

</html>